annotated-types==0.8.0
attrs==26.1.0
btrfsutil==7.1
cffi==2.1.1
cryptography==50.0.1
dbus-python==1.4.0
defusedxml==0.7.1
filelock==3.31.2
Glances==4.5.6
Jinja2==3.1.6
lit==22.1.8.dev0
MarkupSafe==3.0.3
nftables==0.1
orjson==3.12.0
packaging==26.3
psutil==7.2.2
pyalpm==0.12.0
pycairo==1.29.1
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyGObject==3.56.3
Reflector==2023.6.28.0.36.1
shtab==1.12.1
smbus==1.1
TBB @ file:///startdir/src/build/python/python_build
typing-inspection==0.4.4
typing_extensions==4.16.0
ufw==0.36.2
VapourSynth==79
wheel==0.48.0
